.whole-web {
  /* background-color: rgb(243, 181, 224); */
  width: 1200px;
  height: 700px;
  border-radius: 5px;
  margin: 0 auto;
}

.app-style {
  padding: 30px;
  border-radius: 5px;
  margin: 0 auto;
}

.app-style > input {
  width: 200px;
  height: 30px;
  color: (0, 0, 0, 0);
  border-radius: 5px;
  border-color: white;
}

h3 {
  margin: 10px 0px 0px 10px;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.app-button {
  width: 120px;
  height: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(205, 153, 240);
  border-color: rgb(205, 153, 240);
  border-radius: 5px;
  margin-top: 10px;
}

.list-style {
  padding: 0px 0px 10px 10px;
  gap: 12px;
}

.component-style {
  /* border: 2px solid rgba(0, 117, 0, 0.7); */
  width: 1140px;
  text-align: left;
}

.component-style > h3 {
  margin: 10px 0px 10px 0px;
}

.component-style > p {
  margin: 10px 0px 15px 0px;
}

.component-style > button {
  color: #000;
  background-color: white;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;
}

.app-center {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

.modal-open {
  border-radius: 5px;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  margin-top: 50px;
  border-color: black;
  background-color: rgb(183, 175, 248);
}
